.glass {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f6f6f4;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.glass-title {
  position: absolute;
  left: 42%;
  top: 10%;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.glass-img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}
